.projectDump{
    margin: 20px auto;
    flex-direction: column;
    display:flex;
    width:70%;
    font-size: 14px;
}
.project{
    color: #A4E0D9;
    padding:10px;
}

.project img{
    float: left;
    width:20%;
    margin-right: 10%;
    
}

.project:nth-of-type(odd) {
    background-color: #1E4540;
  }