.projectDump{
    margin: 20px auto;
    flex-direction: column;
    display:flex;
    width:70%;
    font-size: 16px;
}
.project{
    color: #000000;
    padding:10px;
}

.project img{
    float: left;
    width:20%;
    margin-right: 10%;
    
}

.project:nth-of-type(odd) {
    background-color: rgb(177 203 207);
  }
  .project:nth-of-type(even) {
    background-color: #d3d3d3;
  }