

body{
  background-color:#4d4d4d;

  opacity: .9;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navigation{
  max-height: 100px;
  width: 100%;
  background-color: #5c6968;
  padding: 0px 0px;
  padding-top:5px;
  text-decoration: none;
  font-size:20px;
  /* box-shadow: 0px 1px 4px 2px black */
}

a{
  text-align: center;
}

.Switch{
  z-index:0;
  border-radius: 5px;
  width:80px;
  height:40px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .25s;
  opacity: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.NavElements{
  top:5px;
  position: relative;
  left:25%;
  width:50%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding:0px;
  margin:0px;
  
}

.NavElements li :hover{
  background-color: rgb(129, 129, 129);
  
}


.NavElements li{
  color: #053832;
  margin: 1% auto;
  border-radius: 3px;
}

.links{
  top:0px;
  position: absolute;
  right:50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links img{
  padding:10px;
  height:30px;
}

.github{
  filter: sepia(100%) saturate(202%) brightness(100%) hue-rotate(131deg);
}
.discord img{
  filter: sepia(100%) saturate(159%) brightness(110%) hue-rotate(131deg);
}


.discord .tooltipText{
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  font-size: 12px;
  width: auto;
  top: 100%;
  left: 50%;
  padding: 4px;
  margin-left:-30px
}
.discord:hover .tooltipText{
  visibility:visible;
}

:visited{
  color:rgb(219, 231, 241);
}


.App-link {
  color: #61dafb;
}

.sidebar{
  width:13%;
  height:100%;
  
  position:absolute;
  background-repeat: repeat-y;
}

/*
Iphone X and up
*/
/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait){ 
    body.Home{
      background-color: red;
      overflow-x: hidden;
      overflow-y: scroll; 
    }
    .mainSection{
      transform: scale(1, .95, 1);
    }
    .links{
      position: fixed;
      left:90%;
      top:94%;
      
    }
    .discord{
      background-color: rgba(0, 0, 0, .2);
      padding:1px;
    }
    .github{
      background-color: rgba(0, 0, 0, .4);
      padding:1px;
    }
}
/*
landscape Iphone X
*/
/*
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .links{
      
    }
  } */
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
